<%= turbo_frame_tag :turbo__trip_show do %>
  <div class="container_calendar_trip"
        data-controller='calendar-select'
        data-calendar-select-trip-id-value='<%= @trip.id %>'>
    <div class='select_calendar_type'>
      <span class='select_type' data-action='click->calendar-select#monthCalendar'>Month</span>
      <span class='select_type' data-action='click->calendar-select#weekCalendar'>Week</span>
      <span class='background_select_type' data-calendar-select-target='background'></span>
    </div>

    <%= turbo_frame_tag :display__calendar, src: month_calendar_trip_path(@trip),
                                            data: { calendar_select_target: 'calendarFrame'} do %>

    <% end %>
  </div>
<% end %>
