// Define variables for your color scheme

// For example:
$red:         #FD1015;
$blue:        #0D6EFD;
$yellow:      #FFC65A;
$orange:      #E67E22;
$green:       #1EDD88;
$gray:        #0E0000;
$light-gray:  #F4F4F4;


// Personal colors
$green-black: #0c1d1d;
$text-white:  #f1fdfd;
$whitish:     #ACC0C0;
$aqua-prim:   #0d6363;
$aqua-second: #063232;
$aqua-accent: #569595;
$red-accent:  #bc5c5c;

$gradient-green-red: linear-gradient(120deg, $aqua-prim, $red-accent);
