<%= turbo_frame_tag 'form' do %>

  <div class="container-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                                  html: {
                                    id: 'form_contain',
                                    data: {
                                      turbo: false,
                                      turbo_frame: 'form',
                                      turbo_action: 'replace',
                                      controller: 'form-redirect form-focus',
                                      form_focus_focused_class: 'focused',
                                      action: 'turbo:submit-end->form-redirect#redirect'
                                    }
                                  }) do |f| %>

      <div class="form-inputs">
        <% form_keys = %i[first_name last_name username email password password_confirmation].each do |key| %>
          <div class="background-input">
            <%= f.input key,
                        # required: true,
                        autofocus: true,
                        label: key.to_s.titleize,
                        input_html: {
                                      autocomplete: key.to_s,
                                      class: 'input-form',
                                      data: {
                                        form_focus_target: 'input',
                                        action: 'focus->form-focus#focused',
                                        identity: key.to_s
                                    }
                                  },
                        label_html: {
                                      class: 'label-form',
                                      data: {
                                        form_focus_target: 'label',
                                        identity: key.to_s
                                      }
                                    },
                        wrapper_html: {
                                        class: 'container-label-input',
                                        data: {
                                          form_focus_target: 'wrapper',
                                          identity: key.to_s
                                        }
                                      }
            %>
          </div>
        <% end %>
      </div>

      <div class="form-actions">
        <div class='button_link'>
          <%= f.submit "Sign Up", class: 'text button_submit' %>
        </div>
      </div>
    <% end %>
  </div>

  <%#= render "devise/shared/links" %>
<% end %>
