.container-profile {
  height: 100%;
  width: 100%;
  margin: 0;
}

.menu-container {
  height: 100%;
  padding: 0;
  backdrop-filter: blur(10px);
  position: relative;
}

.menu-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, $aqua-accent, $red-accent);
}

.display-container {
  height: 100%;
  padding: 0;
}

.empty__block {
  height: 32.5%;
}

.menu__items {
  height: 67.5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
  height: 50px;
  color: $text-white;
  transition: all 0.2s ease-out;
  &:hover {
    span {
      transform: translateX(-10px);
      transition: all 0.2s ease-in;
    }
  }
  h4 {
    margin-bottom: 0;
  }

  span {
    font-weight: bold;
    transform: inherit;
    transition: transform 0.2s ease-out;
  }

  &.active {
    span {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in;
    }
  }
}

.empty__block_display {
  width: 100%;
  height: 10%;
}

.frame__profile {
  width: 100%;
  height: 90%;
  position: relative;
}

// .frame__profile::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background: linear-gradient(to right, #608F8F, $red-accent);
// }

.title_profile {
  height: 100px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
  // margin-left: 30px;
  font-weight: bold;
}

.user_last_name_profile {
  background: linear-gradient(120deg, $aqua-prim, $red-accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user_username_profile {
  font-size: 25px;
  font-style: normal;
}

.container-title-profile {
  margin: 0;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.menu_select_profile_mobile {
  padding: 0;
  justify-content: center;
}

.select_path_input {
  background: transparent;
  border: 2px solid #569595;
  border-radius: 5px;
  color: #f1fdfd;

  optgroup {
    background: #0c1d1d;
  }
}

.option_menu_select {
  background: #0c1d1d;
}

.container_frame_profile {
  height: 75%;
}

#turbo__profile {
  display: block;
  height: 100%;
  width: 100%;
}

.link_profile_sections {
  text-decoration: none;
  color: inherit;
}

.sub-sections-friends {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: all 0.2s ease-out;
}

.sub_menu_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 10px;
  height: 50px;
  transition: all 0.2s ease-out;
  &:hover {
    span {
      transform: translateX(-10px);
      transition: all 0.2s ease-in;
    }
  }

  h4 {
    font-size: 20px;
    margin: 0;
  }

  span {
    font-weight: bold;
    transition: all 0.2s ease-out;
  }
}

.sub-sections-friends {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  transition: all 0.2s ease-out;

  &.active {
    max-height: 1000px; /* Adjust this value accordingly */
    padding-top: 25px;
    transition: all 0.2s ease-in;
  }
}
