.form_new_trip_container {
  height: 100%;
}

.header_new_trip {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;

  h4 {
    margin: 0;
  }
}

.inputs_new_trip_container {
  padding: 0;
  border-radius: 5px;
  background-color: rgba($whitish, 0.5);
  // background: rgba($aqua-second, 0.7);
  // box-shadow: inset 10px 10px 20px rgba(#042323, 0.7),
  //             inset -10px -10px 20px rgba(#084141, 0.7);
  // backdrop-filter: blur(5px);
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.inputs_new_trip {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs_resized {
  height: 90%;
  width: 90%;
}

.dates_new_trip_container {
  margin-top: 20px;

  h5 {
    margin-bottom: 15px;
  }
}

.participants_added_title {
  margin-bottom: 15px;
}

.added_participants {
  height: 22%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: scroll;
}

.inputs_participants {
  height: 60%;
}

.friends_select_container {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container_card_friend_select {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 2px solid #0d6363;
  border-radius: 5px;
  background-color: #ACC0C0;

  span {
    margin-left: 20px;
  }
}

#user_name_container {
  position: relative;
  background: #ACC0C0;
  color: #0d6363;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 10px;
}

#user_name {
  padding: 5px 10px;
  border: 2px solid #0d6363;
  border-radius: 5px;
}

.nested_participant {
  height: max-content;
}

.link_remove_participant {
  text-decoration: none;
  color: white;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #bc5c5c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;

  span {
    font-size: 15px;
  }
}

.link_add_participant_select {
  text-decoration: none;
  color: #0d6363;
  font-weight: bold;
}
