<%= turbo_frame_tag 'turbo__profile' do %>
  <div class="row m-0 justify-content-center h-100">
    <div class="friends_display col-11">
      <%# RECEIVED FRIENDS %>
      <div class="container__friends">
        <div class="header_pending_friends">
          <h4 class='friend_title'>INVITATIONS RECEIVED</h4>
        </div>


        <div class="pending_friend_item_container">
          <div class="friends_items" id='received_friends'></div>

          <%= turbo_frame_tag :load_more, src: invitations_path(format: :turbo_stream), loading: :lazy %>
        </div>
      </div>
    </div>
  </div>
<% end %>
