<%= turbo_frame_tag 'turbo__profile' do %>
  <div class="row m-0 justify-content-center h-100">
    <div class="friends_display col-11">
      <%# PENDING FRIENDS %>
      <div class="container__friends">
        <div class="header_pending_friends">
          <h4 class='friend_title'>YOUR SENT REQUESTS</h4>
        </div>


        <div class="pending_friend_item_container">
          <% if @friends.empty? %>
            <div class="empty_friends_container">
              <div class="empty_friends">
                <h4>You didn't sent any invitations</h4>
                <%= link_to search_friends_path(@user), data: { turbo_frame: :turbo__profile }, class: 'button_add_friend' do %>
                  <span class="text">Add People</span>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="friends_items" id='pending_friends'></div>
          <% end %>

          <%= turbo_frame_tag :load_more, src: pending_friends_path(format: :turbo_stream), loading: :lazy %>
        </div>
      </div>
    </div>
  </div>
<% end %>
