<div class="infos">
  <div class="card-one">
    <h4><span>Invite</span> your friends</h4>
    <div>
      <%= image_tag 'add_friend.svg', alt: "Add Friends" %>
      <p>Add your friend on the platform to plan with them later</p>
    </div>
  </div>

  <div class="card-two">
    <h4><span>Create</span> a trip</h4>
    <div>
      <%= image_tag 'add_trip_v_two.svg', alt: "Create Trip" %>
      <p>Only for you or with your friends you can create one on your profile</p>
    </div>
  </div>

  <div class="card-three">
    <h4><span>Organize</span> it</h4>
    <div>
      <%= image_tag 'organize_it.svg', alt: "Organize Trip" %>
      <p>Personalize it however you want! Add your stops, events and more!</p>
    </div>
  </div>
</div>
