<%= turbo_frame_tag 'turbo__profile' do %>

  <div class="row m-0 justify-content-center">
    <div class="friends_display col-11">
      <%# MUTUAL FRIENDS %>
      <div class="container__friends">
        <h4 class='friend_title'>
          <% if @user == current_user %>
            YOUR FRIENDS
          <% else %>
            <%= @user.first_name.upcase %>'<%= s_or_not?(@user) %> FRIENDS
          <% end %>
        </h4>


        <div class="friend_item_container">

          <div class="search_bar_friends">
            Search
          </div>

          <div class="friends_items" id='friends'>
            
          </div>
          <%= turbo_frame_tag "load_more", src: friends_path(format: :turbo_stream), loading: :lazy %>
        </div>
      </div>
    </div>
  </div>
<% end %>
