<%# Prevent error with clashing turbo trying to render a frame %>
  <%= turbo_page_requires_reload %>
<%# * %>

<div class="container-profile">
  <div class="menu">
  </div>

  <div class="display">
  </div>
</div>
