.dropdown-parent {
  position: relative;
}

.dropdown-container {
  width: max-content;
  position: absolute;
  background: $aqua-prim;
  right: 0;
  margin-top: 10px;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  max-height: 0;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}

.dropdown-parent:focus .dropdown-container,
.dropdown-parent:hover .dropdown-container {
  max-height: 500px;
  transition: max-height 0.4s ease-in;
}

.dropdown-item {
  cursor: pointer;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: inherit;
  transition: background .2s ease-in;

  span {
    padding: 7px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;

    span {
      padding: 0;
      margin-right: 10px;
      width: max-content;
      font-size: 20px;
    }
  }
  &:hover {
    background: $aqua-second;
    transition: background .2s ease-out;
  }
}

.menu_actions_friends {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $aqua-prim;
  top: 9px;
  right: 30px;
  width: max-content;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  transition: all .1s ease-in;

  a {
    text-decoration: none;
    color: inherit;
  }

  // Menu item
  span {
    display: flex;
    align-items: center;
    padding: 6px 15px;
    cursor: pointer;
    transition: background .2s ease-in;
    &:hover {
      background: $aqua-second;
      transition: background .2s ease-out;
    }

    // Menu item's icon
    span {
      margin-right: 10px;
      font-size: 20px;
      padding: 0;
    }
  }
}

.menu_actions_friends.active {
  opacity: 1;
  z-index: 5;
  transition: all 0.1s ease-out;
}
