.container_calendar_trip {
  height: 100%;
  overflow: scroll;
  margin: 0 10px;
  position: relative;
}

.simple-calendar {
  display: flex;
  flex-direction: column;
}

.simple-calendar table {
  backdrop-filter: blur(5px);
  border-radius: 5px;
  overflow: hidden;
}

.simple-calendar th {
  border-color: #0c1d1d;
}

.simple-calendar .day {
  height: 150px;
  // background: transparent;
  background-color: rgba(172, 192, 192, 0.2);
  border-color: #0c1d1d;
  border-width: 2px;
  .scrollable {
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
  }
}

.calendar-heading {
  align-items: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-self: end;
  width: 60%;
  padding: 3px 0;
}

.select_calendar_type {
  background: #0c1d1d;
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  height: 46px;
}

.select_type {
  padding: 8px 10px;
  border-radius: 3px;
  font-weight: bold;
  width: 70px;
  text-align: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.background_select_type {
  width: 70px;
  background: linear-gradient(120deg, $red-accent, $aqua-accent);
  border-radius: 3px;
  position: absolute;
  height: 85%;
  z-index: 1;
  transition: all .1s ease-in;

  &.week {
    transform: translateX(100%);
    transition: all .1s ease-out;
  }
}

.links_views_calendar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link_calendar_view {
  display: flex;
  text-decoration: none;
  color: inherit;
  background: #0c1d1d;
  padding: 8px;
  border-radius: 5px;
  span {
    font-weight: bold;
  }
}

.simple-calendar .prev-month,
.simple-calendar .next-month {
  background-color: rgba($whitish, 0.1);
}

.simple-calendar .today .day-today-long,
.simple-calendar .today .day-today-short {
  background-color: $aqua-accent;
  border-radius: 50%;
  font-weight: bold;
}

.calendar-title {
  font-size: 18px;
}

.day-today-long,
.day-today-short {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-calendar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event_day {
  border: 1px solid #bc5c5c;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding-left: 5px;
  background-color: #bc5c5c;
  overflow: hidden;
}







.simple-calendar table, .simple-calendar thead,
.simple-calendar tr, .simple-calendar td,
.simple-calendar tbody, .simple-calendar th {
  text-align: center;
}

.simple-calendar td {
  padding: 0 2.5px;
  padding-top: 5px;
}

.simple-calendar table {
  width: 100%;
  table-layout: fixed;
  border: none;
}


// Min-width: 320px (smaller phone viewpoints)
// Min-width: 480px (small devices and most phones)
// Min-width: 768px (most tablets)
// Min-width: 992px (smaller desktop viewpoints)
// Min-width: 1200px (large devices and wide screens)

// @media (max-width: 1080px) {

// }

// @media (max-width: 780px) {

// }

// @media (max-width: 580px) {

// }

// @media (max-width: 375px) {

// }

@media (max-width: 1080px) {
}

@media (max-width: 780px) {
  .simple-calendar th {
    font-size: 0;
  }

  .simple-calendar th::first-letter {
    font-size: 13px;
  }
}

@media (max-width: 580px) {
  .simple-calendar .day {
    height: 140px;
  }

  .simple-calendar .day .scrollable {
    height: 100px;
  }

  .badge-calendar {
    font-size: 10px;
  }

  .simple-calendar td {
    padding: 0 1.5px;
    padding-top: 5px;
  }
}

@media (max-width: 375px) {
  .badge-calendar {
    font-size: 8px;
  }
}
